body {
	margin: 0;
	padding: 0;
	background-color: #ecf0f1;
	font-family: 'Raleway', sans-serif;
}

.header {
	display: flex;
	height: 80px;
	width: 100%;
	position: sticky;
	background-color: white;
	box-shadow: -1px -1px 15px 10px #dfe6e9;
	z-index: 100;
}


header h1 {
	margin-left: 270px;
}

.menu {
	width: 60%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: baseline;
	position: relative;
}

.submenu {
	width:80%;
    transform: translateX(-20px);
}

.submenu p { 
	width: 70%;
}

.menu-link {
	border-radius: 7px;
	background-color:rgb(206, 0, 51);
	width: 20%;
	height: 40px;
	display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
}

a { 
	text-decoration: none;
	padding: 15px;
	font-size: 0.6em;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}


.bouton:hover {
	background-color:rgb(206, 0, 51);
	border-color: rgb(206, 0, 51);
}


._box ul li {
	list-style-image: url('../images/bullet.png'); 
	margin-top: 10px;
}

._box {
	margin: 25px auto;
	padding-left: 8px;
	padding: 20px;
	padding-top: 10px;
	width: 60%;
	border: solid;
	border-radius: 7px;
	border-color: white;
	background-color: white;
	box-shadow: -1px -1px 15px 10px #dfe6e9;
}


.five_box {
	margin: 0 auto;
	padding: 20px;
	width: 60%;
	border:1px solid #b2bec3;
	border-radius: 7px;
	background-color: #ecf0f1;
	margin-bottom: 15px;
}

.title1 {
	padding-left: 3px;
	margin-top: 8px;
	font-weight: 400px;
}

.peigne {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.cliquez {
	margin-left: 5px;
	font-size: 15px;
}

.liste {
	padding-left: 20px;
	display: none;
}

.last {
	width: 60%;
    margin: 0 auto;
    display: flex;
    transform: translateX(-20px);
}

#Random {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.aleatoire {
	width: 15%;
	padding: 10px;
	font-size: 0.7em;
    border-radius: 5px;
    border: 1px solid rgb(0 0 0 / 20%);
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(0 0 0 /60%);
    margin-bottom: 50px;
}

@media(max-width: 500px){
	.header h1 {
		font-size: 1.6em;
    	margin: auto;
	}
	.menu {
		width: 90%;
   		margin: 0 auto;
   		flex-direction: column;
	}
	.submenu {
		width: 100%;
		transform: translateX(0);
	}
	.submenu p {
   		 width: 100%;
	}
	.submenu h2 {
		font-size: 1.4em;
	}
	.menu-link {
		margin: auto;
		margin-top: 10px;
		width: 60%;
	}	
	._box {
		width: 80%;
	}
	.five_box {
		padding: 0;
		width: 90%;
	}
	.five_box pre {
		overflow-x: hidden;
		padding: 2px;
	}
	.last {
		width: 80%;
	}
	.cliquez{
		margin-left: 10px;
	}
	.aleatoire {
		width: 60%;
	}
	#Random {
		margin-top: 30px;
	}
}
@media(max-width: 1000px){

	.menu-link{
		width: 40%;
		margin: auto;
	}
	.menu{
		flex-direction: column;
	}
	.header {
		justify-content: center;
		align-items: center;
	}
	.header h1 {
		margin: 0 auto;
		width: 65%;
	}
	pre{
		overflow-x: hidden;
	}
	.submenu, .submenu p {
		width: 100%;
	}

}